.page-id-53 {
  // .page-id-211 {
  //local version page id 211
  .people-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 10rem;
  }

  .voice-over-links {
    padding-top: 2rem;
  }

  .person {
    text-align: center;

    h3 {
      color: $nf-blue;
    }

    a {
      color: $nf-light;

      &:hover {
        color: $nf-accent;
      }
    }
  }
}
