.page-id-255 {
  
  .wp-block-image {
    display: flex;
    justify-content: center;
    img {
      max-height: 30rem;
      width: auto;
    }
  }

  .concert-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1.5px solid rgba(178, 188, 199, 0.5);
  }

  .button {
    @include button;
    text-align: center;
  }

  .concert-info {
    display: flex;
    flex-direction: column;
    width: 10rem;

    p {
      margin-bottom: 0;
    }
  }

  @media (min-width: 46.875em) {
    .concert-row {
      
      .concert-info {
        flex-direction: row;
        justify-content: space-between;
        width: 30em;

        .concert-date {
          width: 10em;
        }

        .concert-time {
          width: 7em;
        }

        .concert-location {
          width: 25em;
        }
      }
    }
  }
}
