.post-type-archive-nf-foote-note {
    
    article {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 3rem auto;
        cursor: pointer;
        border: 2px solid #004964;
        border-radius: 10px;
        padding: 1rem 1rem 2.5rem;
        box-shadow: 2px 2px 8px #888888;

        img {
            align-self: flex-start;
            border-radius: inherit;
        }

        h2 {
            margin-bottom: 0;
            
            a {
                color: black;
                text-decoration: none; 
            }
            
        }

        p {
            padding: 0;
            max-width: 30rem;
        }

        .read-more {
            color: white;
            text-decoration: none;
            padding: 0.5rem;
            text-transform: uppercase;
            background-color: #459EA3;
            border-radius: 10px;

            &:hover {
                color: black;
                background-color: #F08A4B;
            }
        }
    } 

    @media screen and (min-width: 700px) {
        article {
            flex-direction: row;
            max-width: $maxWidth;
            margin: 1rem;

            img {
                align-self: center;
                margin-top: 1.5em;
            }

            .article-info {
                padding-left: 1em;
                margin-left: 1rem;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        article {
            margin: 3em auto;
            padding-bottom: 1rem;

            img {
                margin-top: initial;
            }
        }
    }
}