.page-id-24 {

    .all-photos-gallery {
        max-width: $maxWidth;
        margin: 0 auto; 
        padding: 1rem;
    }

    @media screen and (min-width: 450px) {
       .all-photos-gallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            img {
                width: 100%;
                padding: 10px;
            }
        } 
    }
    
    @media screen and (min-width: 650px) {
        .all-photos-gallery {
             grid-template-columns: 1fr 1fr 1fr;
         } 
     }
   
}