footer {
    margin: 0 auto 7rem;
    text-align: center;

    .footer-social-links {
        
    }

    .developer-credits {
        a {
            text-decoration: none;
            color: black;

            &:hover {
                color:blue;
            }
        }
    }
}