footer {
    margin: 0 auto 7rem;
    text-align: center;

    h2 {
        margin: 3rem auto 0;
    }

    h3 {
        text-decoration: underline;
    }

    .footer-contact-links {

        a {
            color: $nf-blue; 
        }
    }

    @media screen and (min-width: 550px) {
        .footer-contact-links {
            display: flex;
            justify-content: center;

            div {
                padding: 1rem;
            }
        }
    }
    

    .footer-social-links {
        svg {
            fill: $nf-accent;
            width: 32px;
            height: 32px;

            &:hover {
                fill: $nf-light;
            }
        }
    }

    .developer-credits {
        a {
            text-decoration: none;
            color: $nf-light;

            &:hover {
                color:$nf-accent;
            }
        }

        p {
            margin-bottom: 0;
        }
    }
}