.main-navigation {
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
  background-color: white;
  z-index: 100;

  li.logo {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    p {
      font-size: 1.5rem;
    }
  }

  .hamburger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
  }

  .bar {
    width: 20px;
    height: 1px;
    background: black;
    margin: 0 auto 6px;
  }

  .bar:nth-of-type(2) {
    width: 25px;
    height: 1.2px;
  }

  button.menu-toggle {
    background: transparent;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 10px;
    z-index: 10;

    &:hover {
      background-color: $nf-accent;
      border: none;
      cursor: pointer;
    }
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    bottom: 100%;
    transform: translate(-50%);
    width: 100%;
    right: -50%;
    z-index: -1;

    li {
      position: relative;
      background-color: rgba(255, 255, 255, 0.95);
      text-align: center;

      &:hover {
        background: $nf-dark;
        color: white;
      }
    }

    a {
      display: block;
      text-decoration: none;
      color: black;
      padding: 1rem;

      &:hover {
        color: white;
      }
    }
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 40.75em) {
  .main-navigation {
    bottom: initial;
    right: initial;
    left: initial;
    top: 0;
    z-index: 200;
    ul {
      li {
        background: transparent;

        a:hover {
          color: black;
        }

        &:hover {
          background: transparent;
        }
      }
    }

    a::before {
      content: "";
      position: absolute;
      bottom: 1.5rem;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $nf-dark;
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    @media (hover: hover) and (pointer: fine) {
      a:hover::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

  li.logo.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.menu-item-140 {
    display: block;

    img {
      height: 5rem;
      width: auto;
      margin-top: -1.5rem;
    }
  }

  .menu-toggle,
  .mobile-menu p {
    display: none;
  }

  .main-navigation ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 1.25rem;
    z-index: 1;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
