nav.social-navigation {
    opacity: 0;
    background-color: white;
    padding: 0.5rem;
    transition: opacity 400ms ease-in;

    svg {
        fill: $nf-light;
        z-index: 500;

        &:hover,
        &:focus {
            fill: $nf-accent;
        }
    }
}

.fade-in.appear {
        opacity: 1;
    }